@CHARSET "UTF-8";
.heading {
	font-size: x-large;
}
.field {
	font-weight: normal;
}
.value {
	font-weight: bold;
}
.porttypename {
	font-weight: bold;
}
ul {
	margin-top: 0;
}
li {
	font-weight: normal;
}
table {
	border-width: 0px;
	margin-left: 3em;
}
td {
	border-width: 0px;
	vertical-align: text-top;
	padding-top: 1em;
	padding-left: 2em;
	padding-bottom: 0em;
	padding-right: 0em;
}