<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:jaxws="http://cxf.apache.org/jaxws"
	xmlns:context="http://www.springframework.org/schema/context"
  xmlns:aop="http://www.springframework.org/schema/aop" 
  xmlns:tx="http://www.springframework.org/schema/tx"
  xmlns:http-conf="http://cxf.apache.org/transports/http/configuration"
  xmlns:sec="http://cxf.apache.org/configuration/security"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
    http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd 
    http://cxf.apache.org/configuration/security http://cxf.apache.org/schemas/configuration/security.xsd
    http://cxf.apache.org/transports/http/configuration http://cxf.apache.org/schemas/configuration/http-conf.xsd">

  <context:property-placeholder location="file:///${catalina.base}/conf/solrupdate.xml"/>
  
  <context:annotation-config/>
  
  <import resource="classpath:fsimportContext.xml"/>
  
  <bean id="fsStudInfoImport" class="no.uis.service.fsimport.impl.StudInfoImportImpl">
    <property name="fsServiceStudInfo">
      <ref bean="fsWsStudInfo"/>
    </property>
    <property name="transformerUrl" value="classpath:fspreprocess.xsl"/>
  </bean>

  <jaxws:client id="fsWsStudInfo" serviceClass="no.usit.fsws.wsdl.studinfo.StudInfoService"
    address="${fs.ws.studinfo.url}" username="${fs.ws.username}" password="${fs.ws.password}" >
    <jaxws:properties>
      <entry key="mtom-enabled" value="true" />
    </jaxws:properties>
  </jaxws:client>
  
  <http-conf:conduit name="{http://fsws.usit.no/wsdl/studinfo}StudInfoServicePort.http-conduit">
    <http-conf:client ConnectionTimeout="${fs.ws.connection.timeout}"
      ReceiveTimeout="${fs.ws.receive.timeout}" AllowChunking="false"
      Connection="Keep-Alive" />
    <http-conf:tlsClientParameters disableCNCheck="true"/>
  </http-conf:conduit>  
  
  
  <bean class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor" />
  
  <import resource="classpath:META-INF/cxf/cxf.xml" />
  <import resource="classpath:META-INF/cxf/cxf-servlet.xml" />

  <jaxws:endpoint 
    id="studinfoSolrService" 
    implementor="#studinfoSolr" 
    address="/studinfosolr" 
    xmlns:ns="http://studinfosolr.ws.service.uis.no/"
    serviceName="ns:StudinfoSolrService"
    endpointName="ns:StudinfoSolrPort">
    <jaxws:properties>
      <entry key="mtom-enabled" value="true"/>
    </jaxws:properties>
  </jaxws:endpoint>

  <bean id="solrUpdater" class="no.uis.service.ws.studinfosolr.impl.SolrUpdaterImpl">
    <property name="solrServers">
      <map>
        <entry key="B" value-ref="solrServerNB"/>
        <entry key="N" value-ref="solrServerNN"/>
        <entry key="E" value-ref="solrServerEN"/>
      </map>
    </property>
    <property name="purgeIndexBeforeUpdate" value="true"/>
    <property name="solrFieldMapping">
      <description><![CDATA[
      key: path/property (takes precedence) over propery name
      value: Solr field name 
      ]]>
      </description>
      <map>
        <entry key="absForkunnskaperFritekst" value="absForkunnskaperFritekst_t"/>
        <entry key="adminansvarlig" value="adminansvarlig_json"/>
        <entry key="antallForelesningstimer" value="antallForelesningstimer_i"/>
        <entry key="antallUndsemester" value="antallUndsemester_i"/>
        <entry key="arbeidsformer" value="arbeidsformer_t"/>
        <entry key="datoOpptak" value="datoOpptak_dt"/>
        <entry key="datoOpptakFra" value="datoOpptakFra_dt"/>
        <entry key="datoPubliseresFra" value="datoPubliseresFra_dt"/>
        <entry key="datoPubliseresTil" value="datoPubliseresTil_dt"/>
        <entry key="datoFra" value="datoFra_dt"/>
        <entry key="desentralUndervisning" value="desentralUndervisning_b"/>
        <entry key="eksamensordning" value="eksamensordning_json"/>
        <entry key="emnekode" value="kode_s"/>
        <entry key="kvalifikOgJobbmuligheter" value="kvalifikOgJobbmuligheter_t"/>
        <entry key="fagansvarlig" value="fagansvarlig_json"/>
        <entry key="fagpersonListe" value="fagperson_mjson"/>
        <entry key="finansieringsprosent" value="finansieringsprosent_i"/>
        <entry key="fjernundervisning" value="fjernundervisning_b"/>
        <entry key="grunnstudium" value="grunnstudium_b"/>
        <entry key="heltidsprosent" value="heltidsprosent_i"/>
        <entry key="inngarIFag" value="inngarIFag_ms"/>
        <entry key="inngarIStudieprogram" value="inngarIStudieprogram_ms"/>
        <entry key="innhold" value="innhold_t"/>
        <entry key="intro" value="intro_t"/>
        <entry key="kanTilbys" value="kanTilbys_b"/>
        <entry key="kontaktinformasjon" value="kontaktinformasjon_t"/>
        <entry key="kortsam" value="kortsam_t"/>
        <entry key="kulltrinnplan" value="kulltrinnplan_b"/>
        <entry key="kurskategoriListe" value="kurskategori_ms"/>
        <entry key="laringsutbytte" value="laringsutbytte_t"/>
        <entry key="litteratur" value="litteratur_t"/>
        <entry key="nettbasertUndervisning" value="nettbasertUndervisning_b"/>
        <entry key="obligund" value="obligund_b"/>
        <entry key="obligUndaktTilleggsinfo" value="obligUndaktTilleggsinfo_t"/>
        <entry key="opptak" value="opptak_json"/>
        <entry key="opptaksinformasjon" value="opptaksinformasjon_t"/>
        <entry key="opptakskrav" value="opptakskrav_t"/>
        <entry key="periodeEks" value="periodeEks_json"/>
        <entry key="periodeUnd" value="periodeUnd_json"/>
        <entry key="PFormkrav" value="pFormkrav_t"/>
        <entry key="PInnhold" value="pInnhold_t"/>
        <entry key="PKortintr" value="pKortintr_t"/>
        <entry key="PProfkval" value="pProfkval_t"/>
        <entry key="PStudkval" value="pStudkval_t"/>
        <entry key="rammeplanTekst" value="rammeplanTekst_t"/>
        <entry key="skalAvholdes" value="skalAvholdes_b"/>
        <entry key="sprakListe" value="undsprak_json"/>
        <entry key="statusOblig" value="statusOblig_b"/>
        <entry key="statusPrivatist" value="statusPrivatist_b"/>
        <entry key="studentevaluering" value="studentevaluering_t"/>
        <entry key="studiepoeng" value="studiepoeng_i"/>
        <entry key="studieprogramkode" value="kode_s"/>
        <entry key="undsemester" value="undsemester_json"/>
        <entry key="utdanningsplan" value="utdanningsplan_json"/>
        <entry key="utenlandsopphold" value="utenlandsopphold_t"/>
        <entry key="varighet" value="varighet_json"/>
        <entry key="vektingsreduksjon" value="vektingsreduksjon_json"/>
        <entry key="vurdordning" value="vurdordning_json"/>
      </map>
    </property>
    <property name="typeAdapters">
      <description><![CDATA[
      map of Gson Type converters
      key: class for which the type adapter is registered
      value: the TypeAdapter
      
      ]]>
      </description>
      <map>
        <entry> 
          <key>
            <value type="java.lang.Class">javax.xml.datatype.XMLGregorianCalendar</value>
          </key>
          <bean class="no.uis.service.ws.studinfosolr.json.CalendarSerializer"/>
        </entry>
        <entry>
          <key>
            <value type="java.lang.Class">no.uis.service.studinfo.data.Fagperson</value>
          </key>
          <bean class="no.uis.service.ws.studinfosolr.json.FagpersonSerializer"/>
        </entry>
      </map>
    </property>
  </bean>

  <bean id="solrServerNB" class="no.uis.service.ws.studinfosolr.impl.SolrServerFactory">
    <property name="url" value="${solr.server.nb.url}"/>
    <!--property name="username" value="${solr.server.username}"/-->
    <!--property name="password" value="${solr.server.password}"/-->
  </bean>
  
  <bean id="solrServerNN" class="no.uis.service.ws.studinfosolr.impl.SolrServerFactory">
    <property name="url" value="${solr.server.nn.url}"/>
    <!--property name="username" value="${solr.server.username}"/-->
    <!--property name="password" value="${solr.server.password}"/-->
  </bean>
  
  <bean id="solrServerEN" class="no.uis.service.ws.studinfosolr.impl.SolrServerFactory">
    <property name="url" value="${solr.server.en.url}"/>
    <!--property name="username" value="${solr.server.username}"/-->
    <!--property name="password" value="${solr.server.password}"/-->
  </bean>
  
  <bean id="studinfoSolr" class="no.uis.service.ws.studinfosolr.impl.StudinfoSolrServiceImpl">
    <property name="studinfoImport" ref="fsStudInfoImport"/>
    <property name="solrUpdater" ref="solrUpdater"/>
  </bean>

</beans>
